version: "3"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000

  prom-server:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus-config.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app