auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki/
  instance_addr: 127.0.0.1
  ring:
    instance_id: loki-1
    kvstore:
      store: inmemory

ingester:
  chunk_idle_period: 3m
  max_chunk_age: 1h
  lifecycler:
    ring:
      replication_factor: 1

limits_config:
  allow_structured_metadata: false

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    cache_location: /loki/boltdb-shipper-cache
